.tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 40vw;
  height: auto;
  max-height: 40vh;
  overflow-y: auto;
}

.tooltip.show {
  display: block;
}

/* ...existing styles... */

.tooltip {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px; /* Reduced font size */
  min-width: 200px;  /* Box size */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip.show {
  visibility: visible;
  opacity: 1;
}

/* Add more specific styles for each type of info */
.tooltip span {
  display: block;
  margin-bottom: 4px;
  line-height: 1.2;
}

.tooltip span:last-child {
  margin-bottom: 0;
}

/* New styles */
.tooltip-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
	text-align: center;
}

strong {
  font-weight: bold;
}
