*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #f5f5f5;
  --button-bg-color: #1976d2; /* Original color, but let's introduce a blue scheme */
  --button-hover-bg-color: #4a6da7; /* Subtle blue for hover state */
  --button-hover-border-color: #34597f; /* A darker blue for border on hover */
  --button-border-color: #6a59ff; /* Initial border color */
  --button-focus-outline-color: #62a4ff; /* Bright blue for focus outline for accessibility */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* @media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
} */

::-webkit-scrollbar {
  width: 0.1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 2.6rem;
  background: var(--bg);
}

form {
  border-radius: 15px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.13);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background: #ffffff;
  color: #080710;
  cursor: pointer;
  transition: background 0.3s ease;
}

.loading-button {
  background-color: var(--button-bg-color);
  border-color: var(--button-border-color);
  border-width: 2px;
  border-style: solid; /* Ensure border style is defined */
  display: flex; /* Assuming you want to use flex properties */
  flex-grow: 1;
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px; /* Assuming 'my: 2' meant a vertical margin, adjust as needed */
  margin-top: 16px;
  position: relative; /* Assuming you want it positioned in a specific context */
  bottom: 0; /* Keep at the bottom, adjust as necessary */
  cursor: pointer; /* Indicates an interactive button */
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s; /* Smooth transition for hover and focus states */
}

.loading-button:hover {
  font-weight: bold;
  background-color: var(--button-hover-bg-color);
  border-color: var(--button-hover-border-color);
}

.loading-button:focus {
  outline: 2px solid var(--button-focus-outline-color); /* Accessible focus outline */
  outline-offset: 2px; /* Ensures outline does not overlap element's border */
}

.dialog-login {
  border-radius: 15px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.13);
  justify-content: center;
  align-items: center;
  padding: 20px;
}
/* --------------------------------- */
/* PAGES - home sections */
/* --------------------------------- */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: '100%';
  /* padding: 60px; */
}

/* .hero-section-container {
  background: rgba(189, 181, 181, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  /* padding: 30px 0px; */
/* width: '100vw'; */
/* width: min(1200px, 100%); */
/* } */
.hero-section-container {
  background: rgba(189, 181, 181, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  /* padding: 30px 0px; */
  /* width: '100vw'; */
  /* width: min(1200px, 100%); */
}
.hero-section-container-left {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  width: 200px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  /* background-color: rgba(255, 255, 255, 0.8); Semi-transparent white */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure it's above the swiper slides */
}

/* .hero-section h1 {
  font-size: 3.5rem;
  font-weight: 600;
  /* color: var(--primary); */
/* text-align: center;
  margin: 20px 0px 40px;
}  */

/* --------------------------------- */
/* Swiper */
/* --------------------------------- */

.container {
  /* max-width: 124rem; */
  /* max-width: 100vw; */
  padding: 4rem 1rem;
  margin: 0 auto;
}

.hero-section-title {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 600;
}

.hero-section-subtitle {
  padding: 1rem 0;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}

.hero-section-card-title {
  padding: 1rem 0;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}

.hero-section-card-subtitle {
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.swiper_container {
  width: 100vw; /* Adjust based on your design needs */
  overflow: hidden; /* Prevent overflow */
}

/* .swiper-wrapper {
  display: flex; /* Ensure the slides are in a row */
  /* transition: transform 0.3s; /* Smooth transition */
  /* align-items: center;
  justify-content: center;
}  */

.swiper-scrollbar {
  --swipeer-scrollbar-bottom: 0;
  --swipeer-scrollbar-drag-bg-color: #dda3b6;
  --swipeer-scrollbar-drag-bg-opacity: 0.2;
  --swipeer-scrollbar-drag-bg-radius: 0;
  --swipeer-scrollbar-size: 5px;
}
.swiper-slide {
  width: calc(
    (100vw - 120px) / 7
  ); /* Adjust based on actual space between and number of slides */
  height: auto; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .swiper-slide {
  width: auto; /* Adjust based on your content */
/* height: auto; Adjust based on your content */

/* Add more styling as needed */
/* }  */

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

@media (max-width: 768px) {
  .swiper_container {
    width: 100%; /* Adjust for smaller screens */
  }
  .swiper-slide {
    width: 30rem;
    height: 36rem;
    /* height: auto; */
    /* Adjust the height as needed */
  }
  .swiper-slide img {
    width: 30rem;
    height: 36rem;
  }
}

@media (max-width: 1024px) {
  .swiper_container {
    width: 100%; /* Adjust for smaller screens */
  }
  .swiper-slide {
    width: 40rem;
    height: 48rem;
    /* height: auto; */
    /* Adjust the height as needed */
  }
  .swiper-slide img {
    width: 30rem;
    height: 36rem;
  }
}

@media (max-width: 1280px) {
  .swiper_container {
    width: 100%; /* Adjust for smaller screens */
  }
  .swiper-slide {
    width: 30rem;
    height: 36rem;
    /* height: auto; */
    /* Adjust the height as needed */
  }
  .swiper-slide img {
    width: 30rem;
    height: 36rem;
  }
}

@media (max-width: 1440px) {
  .swiper_container {
    width: 100%; /* Adjust for smaller screens */
  }
  .swiper-slide {
    width: 30rem;
    height: 36rem;
    /* height: auto; */
    /* Adjust the height as needed */
  }
  .swiper-slide img {
    width: 30rem;
    height: 36rem;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
  /* maxWidth: '100%',
  maxHeight: '100%',
  objectFit: 'contain', */
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper-slide-active {
  transform: scale(8); /* Make the active slide larger */
  transition: transform 0.3s; /* Smooth transition */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow */
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  /* position: relative; */
  position: absolute;
  text-align: center;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
