.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: 20px auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.item-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.item-image {
  width: 100px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.total-price {
  font-weight: bold;
  margin-top: 20px;
}

.empty-cart {
  color: #888;
  margin-top: 20px;
}
