/* carousel.css */
.carousel .control-next.control-arrow:before {
  border-left: 16px solid black;
}

.carousel .control-prev.control-arrow:before {
  border-right: 16px solid black;
}

.carousel.carousel-slider .control-arrow:hover {
  background: #87ceeb;
}
